Repository NHL-P2-INF2-DP/netflix-clone, pull requests merged in 2024-12, with the labels that each got.

#30 feat: finish profile route api route with database calls
  README.md
  bun.lockb
  next.config.ts
  package.json
  prisma/schema.prisma
  src/app/api/.gitkeep
  src/app/api/health/route.ts
  src/app/api/profiles/[id]/route.ts
  src/app/api/profiles/route.ts
  src/app/api/v1/accounts/[id]/route.ts
  src/app/api/v1/accounts/route.ts
  src/app/api/v1/content-metadata/[id]/route.ts
  src/app/api/v1/content-metadata/route.ts
  src/app/api/v1/content-ratings/[id]/route.ts
  src/app/api/v1/content-ratings/route.ts
  src/app/api/v1/content/[id]/route.ts
  src/app/api/v1/content/route.ts
  src/app/api/v1/documentation/route.ts
  src/app/api/v1/genres/[id]/route.ts
  src/app/api/v1/genres/route.ts
  src/app/api/v1/invoices/[id]/route.ts
  src/app/api/v1/invoices/route.ts
  src/app/api/v1/languages/[id]/route.ts
  src/app/api/v1/languages/route.ts
  src/app/api/v1/previous-password-hashes/[id]/route.ts
  src/app/api/v1/previous-password-hashes/route.ts
  src/app/api/v1/profiles/[id]/route.ts
  src/app/api/v1/profiles/route.ts
  src/app/api/v1/qualities/[id]/route.ts
  src/app/api/v1/qualities/route.ts
  src/app/api/v1/subscription-types/[id]/route.ts
  src/app/api/v1/subscription-types/route.ts
  src/app/api/v1/subscriptions/[id]/route.ts
  src/app/api/v1/subscriptions/route.ts
  src/app/api/v1/subtitles/[id]/route.ts
  src/app/api/v1/subtitles/route.ts
  src/app/api/v1/users/[id]/route.ts
  src/app/api/v1/users/route.ts
  src/app/api/v1/viewing-history/[id]/route.ts
  src/app/api/v1/viewing-history/route.ts
  src/app/api/v1/watchlists/[profile_id]/[content_id]/route.ts
  src/app/api/v1/watchlists/[profile_id]/route.ts
  src/app/api/v1/watchlists/route.ts
  src/lib/auth-middleware.ts
  src/lib/pinologger.ts
  src/lib/utils.ts
  src/lib/xml.ts
  tsconfig.json
Labels: API

#31 feat: add automatic generation of zod objects with prisma file
  .cursorrules
  bun.lockb
  next.config.ts
  package.json
  src/app/api/health/route.ts
  src/app/api/v1/[route]/route.ts
  src/app/api/v1/accounts/[id]/route.ts
  src/app/api/v1/accounts/route.ts
  src/app/api/v1/content-metadata/[id]/route.ts
  src/app/api/v1/content-metadata/route.ts
  src/app/api/v1/content-ratings/[id]/route.ts
  src/app/api/v1/content-ratings/route.ts
  src/app/api/v1/content/[id]/route.ts
  src/app/api/v1/content/route.ts
  src/app/api/v1/genres/[id]/route.ts
  src/app/api/v1/genres/route.ts
  src/app/api/v1/invoices/[id]/route.ts
  src/app/api/v1/invoices/route.ts
  src/app/api/v1/languages/[id]/route.ts
  src/app/api/v1/languages/route.ts
  src/app/api/v1/previous-password-hashes/[id]/route.ts
  src/app/api/v1/previous-password-hashes/route.ts
  src/app/api/v1/qualities/[id]/route.ts
  src/app/api/v1/qualities/route.ts
  src/app/api/v1/subscription-types/[id]/route.ts
  src/app/api/v1/subscription-types/route.ts
  src/app/api/v1/subscriptions/[id]/route.ts
  src/app/api/v1/subscriptions/route.ts
  src/app/api/v1/subtitles/[id]/route.ts
  src/app/api/v1/subtitles/route.ts
  src/app/api/v1/users/[id]/route.ts
  src/app/api/v1/users/route.ts
  src/app/api/v1/viewing-history/[id]/route.ts
  src/app/api/v1/viewing-history/route.ts
  src/app/api/v1/watchlists/[profile_id]/[content_id]/route.ts
  src/app/api/v1/watchlists/[profile_id]/route.ts
  src/app/api/v1/watchlists/route.ts
  src/lib/auth-client.ts
  src/lib/auth-middleware.ts
  src/lib/classes/api-responses.ts
  src/lib/classes/authentication-service.ts
  src/lib/classes/database-service.ts
  src/lib/classes/user-service.ts
  src/lib/routes.ts
  src/lib/schemas.ts
  src/utils/api.ts
Labels: API

#37 feat: Add query params for searching
  bun.lockb
  commitlint.config.js
  docker-compose.yml
  package.json
  prisma/schema.prisma
  src/app/(authentication)/login/page.tsx
  src/app/api/v1/[route]/route.ts
  src/app/api/v1/documentation/route.ts
  src/app/api/v1/openapi/route.ts
  src/app/api/v1/profiles/[id]/route.ts
  src/app/api/v1/profiles/route.ts
  src/app/layout.tsx
  src/components/ui/button.tsx
  src/components/ui/card.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/components/ui/sonner.tsx
  src/lib/auth.ts
  src/lib/classes/authentication-service.ts
  src/lib/env.ts
  src/lib/routes.ts
Labels: Frontend, API

#38 feat: added ability to include ID in url for fetching specific items, editing and deleting records
  .gitignore
  .prettierrc
  README.md
  bun.lockb
  commitlint.config.js
  docker-compose.yml
  eslint.config.mjs
  next.config.ts
  package.json
  prisma/schema.prisma
  src/app/api/health/route.ts
  src/app/api/v1/[route]/[id]/route.ts
  src/app/api/v1/[route]/route.ts
  src/app/api/v1/documentation/route.ts
  src/app/api/v1/openapi/route.ts
  src/lib/classes/api-handler.ts
  src/lib/classes/reponse-formatter.ts
  src/lib/classes/route-manager.ts
  src/lib/routes.ts
  src/lib/schemas.ts
  tsconfig.json
Labels: API, Classes

#39 feat: add skeleton component, route page, and mobile hook; update sidebar styles and globals
  bun.lockb
  components.json
  package.json
  src/app/(dashboard)/dashboard/[route]/page.tsx
  src/app/(dashboard)/dashboard/[route]/route-page.tsx
  src/app/(dashboard)/dashboard/layout.tsx
  src/components/ui/separator.tsx
  src/components/ui/sheet.tsx
  src/components/ui/sidebar.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/tooltip.tsx
  src/hooks/use-mobile.tsx
  src/styles/globals.css
  tailwind.config.ts
Labels: Frontend
