Repository NHL-P2-INF2-DP/netflix-clone, pull requests merged in 2024-11, with the labels that each got.

#2 Create dependabot.yml
  .github/dependabot.yml
Labels: wontfix

#3 Documentation
  documentation/routes.md
Labels: documentation

#13 'classdiagram-to-documenation-folder'
  documentation/APIClassDiagram.asta
Labels: documentation

#15 add default routes to all route handlers
  documentation/routes.md
  src/app/api/auth/login/route.ts
  src/app/api/auth/logout/route.ts
  src/app/api/auth/register/route.ts
  src/app/api/users/[id]/route.ts
  src/app/api/users/route.ts
  src/lib/classes/user-service.ts
  src/lib/types/user.ts
Labels: documentation, API

#20 chore: add ERD to documentation and update README
  README.md
  documentation/APIClassDiagram.asta
  documentation/erd.md
Labels: documentation

#23 docs: changed ERD based on new prisma file
  documentation/erd.md
Labels: documentation
